@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


ul {
  list-style: none;   /* elimina los puntitos */
  padding: 0;
  margin: 0;
}


img {
  border-radius: 15px;   /* redondea los bordes */
}

/* Header en rojo oscuro */
header {
  background-color: #a41d1d;
}

/* Main en verde intenso */
main {
  background-color: #1ec853;
}

/* Footer en azul fuerte */
footer {
  background-color: #1111a3;
}

/* 4. Dar borde al logo */
header nav a img {
  border: 2px solid black;   /* borde negro alrededor del logo */
  padding: 5px;              /* espacio interno */
}

